/* Char */
.param {
  font-weight: bold;
}
/* Card */
ul.card-list {
  padding: 0;

  .item {
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    width: 70px;
    margin-right: 5px;
    margin-bottom: 5px;
    &.active {
      border: 2px solid blue;
    }
  }

}
  