/* Char */
.param {
	font-weight: bold;
}
/* Card */
ul.card-list {
	padding: 0px;
}
ul.card-list  .item {
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    width: 70px;
    margin-right: 5px;
    margin-bottom: 5px;
}
ul.card-list  .item.active {
	border: 2px solid blue;
}